.learnMore > Button {
    background-color: white;
    color: black;
    border: solid 1px #86d9f3;
    margin: 10px;
}

.learnMore > button:hover {
    transition: 0.3s;
    background-color: #86d9f3;
}

@media (max-width: 390px) {
    .learnMore > Button {
        margin: 3px;
    }
}