.footer {
    display:flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.footer:hover {
    transition: 1.5s ;
    background-color: #ed6c87;
}

.footer__images {
    display: flex; 
    align-items: center;
    justify-content: center;
}

.footer__images > a {
    margin: 15px;
    align-items: center;
}

@media (max-width: 530px) {
    .footer__images > a {
      margin: 5px;
    }
}