.container {
    position: fixed;
    bottom: 13%;
    right: 6%;
}

.container:hover {
    transition: 0.5s;
    opacity: 0.9;
}

.goTopContainer {
    display: inline-flex;
    padding: 8px;
    background-color: #86d9f3;
    border-radius: 45%;
    cursor: pointer;
    box-shadow: 1.2px 1.2px 1.2px #979797;
    transition: .2s;
}

.goTop {
    color: white;
}

.goTop:hover {
    color: #ed6c87;
}


.hide {
    display: none;
}