.projects__wrap  {
    margin-top: 40px;
    display: block;
    padding: 15px;
}

.projects {
    display: flex;
    justify-content: center;
}

@media (max-width: 1150px) {
    .projects {
        display: block;
    }
}