.images {
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
}

.images > figure > img {
    height: 100px;
    width: 100px;
}

.images > figure {
    color: black;
}

figcaption {
    font-weight: 300;
}
