.skills {
    justify-content: center;
    width: 85%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.skill { 
    width: 193px;
    height: 100px;
    box-shadow: 3px 4px 10px #727171;
    border-radius: 7px;
    padding: 5px;
    transition: 0.3s;
    margin: 2%;
}

.blur {
    background: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: blur(50px);
}

.skill:hover {
    transform: scale(1.07);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    cursor: url('/src/assets/img/hammer.png'), pointer;
}

.skill:active {
    cursor: url('/src/assets/img/hammer-click.png'), pointer;
}

.skill > img {
    padding: 3px;
}

@keyframes tiembla{
    0%  { -webkit-transform:rotateZ(-5deg); }
    50% { -webkit-transform:rotateZ( 0deg) scale(.8); }
    100%{ -webkit-transform:rotateZ( 5deg); }
}

.shaking {
    animation: tiembla 0.1s infinite;
}

figcaption {
    font-weight: 300;
}

.skills__direction {
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
}

.skills__wrapResponsive {
    display: flex;
    justify-content: center;
}

.indications {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10%;
}

.indications > button:hover {
    transition: 0.3s;
    background-color: #86d9f3;
}

.indications > button {
    background-color: white;
    color: black;
    border: solid 1px #86d9f3;
    margin: 10px;
    font-family: Montserrat, sans-serif;
}

.modal__title {
    font-family: Montserrat, sans-serif;
    padding: 7px;
    text-align: center;
}

.button__modal > Button{
    background-color: #86d9f3;
    color: black;
    border: solid 1px #86d9f3;
    margin: 10px;
    font-family: Montserrat, sans-serif;
}

@media (max-width: 770px) {
    .skills__direction {
        flex-direction: column;
    }
}

@media (max-width: 1030px) {
    .skills__direction {
        flex-direction: column;
    }
} 

@media (max-width: 500px) {
    .skills__wrapResponsive {
        display: block;
        margin: auto;
    }

    .skills {
        flex-direction: column;
    }

    .skill {
        margin-bottom: 15%;
    }

    .skills__direction {
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .indications {
        justify-content: center;
        padding-right: 0%;
    }
} 